#root {
  max-width: 1280px;
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  position: "absolute";
  z-Index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

